h1{
  color: rgb(94, 84, 84);
}
.heading {
	text-align: center;
  }
 
h2{
    color: rgb(195, 0, 255);
}
table, th, td {
  border: 1px solid;
}
th{
    padding: 20px;
    color: rgb(242, 237, 237);
    background-color: rgb(40, 172, 195);
  }
  td{
    padding:20px;
  }

p{
    text-align: center;
}